<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false" scan="true" scanPeriod="30 seconds">
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <!-- 日志存储目录，必须以./logs/开头 -->
    <property name="PATH" value="./logs/permissions-server"/>
    <property name="STDOUT_PATTERN" value="%d [%t] %5p %c - %m%n"/>

    <!-- Spring yaml 配置是在logback-spring加载之后的，所有在appender中无法获取yaml配置，必须要在springProperty中指定配置-->
    <springProperty scope="context" name="APPLICATION_NAME" source="spring.application.name"/>
    <springProperty scope="context" name="ACTIVE" source="spring.profiles.active"/>

    <!-- 控制台输出，注意这里不需要加自定义encoder，不需要输出为JSON格式, Docker Logging Driver会帮我们处理 -->
    <appender class="ch.qos.logback.core.ConsoleAppender" name="STDOUT">
        <encoder>
            <pattern>${STDOUT_PATTERN}</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <!-- 写本地文件 -->
    <appender class="ch.qos.logback.core.rolling.RollingFileAppender" name="BIZ_LOG">
        <!-- 自定义encoder以输出为JSON格式 -->
        <encoder class="com.ah.cloud.permissions.biz.infrastructure.log.JsonLayoutEncoder"/>
        <file>${PATH}/permissions-server.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${PATH}/ypsx-ofc_%i.log</fileNamePattern>
            <maxIndex>1</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <!-- 仅允许100MB，不可调整 -->
            <maxFileSize>100MB</maxFileSize>
        </triggeringPolicy>
    </appender>

    <!-- 错误日志告警 -->
    <appender name="AbstractAlarmAppender"
              class="com.ah.cloud.permissions.biz.infrastructure.log.AbstractAlarmAppender">
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="BIZ_LOG"/>
        <appender-ref ref="AbstractAlarmAppender"/>
    </root>
</configuration>
